body {
    color: black;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 4vw;
    background-color: white;
  }

  p {
    font-size: x-large;
    margin-top:0px;
  }
  
  .content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .grad {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

 .button {
  background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 }
  
  /* unvisited link */
  a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  /* selected link */
  a:active {
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }